@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'nanumsquare', serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
main{
    width: 60vh;
}
.top-logo{
    border-bottom: solid 1px #ddd;
    margin-bottom: 70px;
    width: 100%;
    text-align: center;
}
.top-logo #home-logo{
    width: 100px;
    padding-bottom: 20px;
}
.login-title{
    font-size: 48px;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;

}
.inputbox{
    margin-bottom: 20px;
}
.inputbox input{
    border: none;
    margin: 20px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 8px 15px;
    font-size: 30px;
    width: 100%;
}
.inputbox input:focus{
    outline: none;
    border-bottom: 1px solid #21c531;
}
.login-btn{
    border: 0;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    display: block;
    padding: 15px;
    border-radius: 5px;
    background-color: #21c531;
    color: white;
    margin-bottom: 20px;
}
.login-btn:active{
    transform: scale(0.95);
}
main #saveId {
    border: 1px solid #777;
    border-radius: 50%;
    margin-bottom: 20px;
}
main label{
    font-size: 20px;
    color: #777;
}
main .text-area{
    font-size: 18px;
    margin-bottom: 10px;
}
main .text-area a{
    color: black;
    text-decoration: none;
    color: #21c531;
    font-weight: bold;
}

main .text-area a:hover{
    text-decoration-line: underline;
}