@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'nanumsquare';
}

a{
    text-decoration: none !important;

}

body{
    background-color: #F2F2F2;
    display: block;
}


#container{
    width: 1140px;
    height: 800px;
    display: flex;
    flex: 1 1 auto;
    position: relative;

    margin: 0 auto;
    padding: 108px 0 0;
    align-items: flex-start;
    

}

/* side-bar */
#info{
    padding-bottom: 20px;
    margin-right: 18px;
    width: 232px;
}


#info-inner{
    position: fixed;
    width: 232px;
}

.side-cover{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 232px;
    height: 174px;
    overflow: hidden;
}


#cover-img{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
    object-fit: cover;
}

.band-name{
    position: relative;
    padding-top: 14px;
}


.band-name a{
    font-size: 22px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    overflow-wrap: break-word;
}

.member{
    margin-top: 10px;
}

.member-count{
    padding-top: 1px;
    text-decoration: none;
    display: inline-block;

    color: black;
    font-size: 13px;
    font-weight: 500;
}

.band-info{
    padding-top: 8px;
}

.band-description{
    overflow: hidden;
    max-height: 113px;
    line-height: 1.45;
    font-size: 13px;

}

.more-link{
    font-size: 13px;
    font-weight: 400;
    color: #999;
    display: inline-block;
    margin-top: 4px;
    text-decoration: none;
}

.more-link:hover{
    text-decoration: underline;
}

.btn-box{
    margin-top: 11px;
    margin-bottom: 4px;
}

.box-desc{
    font-size: 13px;
    font-weight: 400;
    color: #888;
    margin-top: 11px;
    line-height: 1.3;
}

.sidebar-under-icon{
    margin-top: 8px;
    padding-top: 9px;
    border-top: 1px solid rgba(0,0,0,.1);
}

.band-setting-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.sidebar-font{
    text-decoration: none;
    color: #555;
}


.band-setting-item{
    list-style: none;
    display: flex;
}

.leave-band{
    padding-left: 8px;
}

.sidbar-icon{
    color: #555;
    margin-right: 5px;
}

#write-button{
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: #93D94E;
    border: none;

    font-size: 14px;
    color: white;
    font-weight: 600;

    cursor: pointer;
}

/* board-list */
#board-list{
    width: 632px;
    margin-bottom: 11px;
    flex: 0 0 auto;
}

/* 글쓰기 영역 */
.post-write-form{
    padding-bottom: 46px;
    width: 100%;
}

.board-search{
    position: relative;
    margin-bottom: 12px;
    z-index: 995;
    
}

.gSrOnly{
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}


#input-search{
    border: none;
    width: 100%;
    height: 100%;

    padding-left: 7px;

}

#input-search:focus{
    outline: none;
}

.input-search-form{
    height: 40px;
    width: 100%;
    padding: 0 45px 0 15px;
    background-color: white;

    position: relative;
    display: block;
}

.search-text{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;

    font-size: 14px;

}

.searchbtn {
    border-style: none;
    background-color: white;

    position: absolute;
    right: 22px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: .75;

}

.searchbtn:hover{
    cursor: pointer;
}

.main-content{
    position: relative;
    margin-bottom: 13px;
}

.content-button{
    position: absolute;
    height: 84px;
    width: 100%;
    border: none;
    background-color: white;
    opacity: 0;

    cursor: pointer;
}

/* iframe 모달창 */
#postWrite-modal{
    display:none;
}

.content-editor{
    min-height: 84px;
    color: #999;
    background-color: white;

    padding: 18px 22px;
    line-height: 1.5;
}

/* 게시물 영역 */
.content-card{
    margin-bottom: 13px;
    position: relative;
    background-color: white;
}

.post-author-view{
    position: relative;
    height: 65px;
    background-color: transparent;
    z-index: 11;
    cursor: pointer;
    padding-top: 20px;
    align-items: flex-start;
}

.uprofile{
    position: absolute;
    margin-left: 22px;
    margin-right: 10px;
    z-index: 12;
}

.uprofile-inner{
    width: 40px;
    height: 40px;

    display: block;
    overflow: hidden;
    position: relative;
    background-color: #ccc;
    border-radius: 50%;
}


.post-info{
    display: block;
    position: absolute;
    margin-left: 77px;
    min-width: 0;
    padding-top: 2px;
    line-height: 1.4;
    z-index: 12;
    overflow: hidden;
}

.post-info-name{
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

.post-info-date{
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
    color: #888;
    text-decoration: none;
    margin-top: 3px;
}

.post-body{
    padding: 0 22px 17px;
}

.text-body{
    font-size: 14px;
    line-height: 1.43;
    padding: 8px 0;
    /* text-decoration: none !important; */
}

.face-comment{
    font-size: 13px;
    font-weight: 400;
    color: #555;
    position: relative;
}

.emotion-view{
    margin-right: 7px;
}

button{
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

.face-icon{
    font-size: 1.1em;
}

.comment{
    font-size: 13px;
    font-weight: 400;
    color: #555;
    line-height: 23px;
    vertical-align: top;
}

.share-read{
    line-height: 23px;
    vertical-align: top;
}


/* banner */
#banner{
    display: flex;
    margin-left: 18px;
}

#band-photo-area{
    width: 240px; 
    position: fixed;
}

.toolbar{
    list-style: none;
}

.board-icon{
    color:#888;
}

.board-icon:hover{
    color: #555;
}

.band-photo{
    position: relative;
    margin-bottom: 13px;

    background-color:  white;
}

#banner .tit{
    height: 34px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 40px;
    font-size: 13px;
    font-weight: 600;
    
}

#banner .photo-body{
    height: 165px;
    padding: 14px;
    border-top: 1px solid #f0f2f4;
}

#banner .photo-list{
    margin-top: -1px;
    margin-left: -1px;
    font-size: 0;
}

#banner .photo-list a{
    display: inline-block;
    position: relative;
}

.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

#banner .photo-list .no-img{
    display: inline-block;
    width: 68px;
    height: 68px;
    background-color: #eef0f3;
}

.banner-box {
    border: none;
    width: 68px;
    height: 68px;
    overflow: hidden;
    margin-top: 1px;
    margin-right: 1px;
    display: inline-block;
}

#banner .more-button{
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#banner .more-button:hover{
    text-decoration: underline;
}

/* today-plan-area */

/* 배너 날짜 목록 */
#band-soon-plan-area{
    position: fixed;
    min-height: 80px;
    width: 240px;
    top: 320px;
    background-color: white;
}

.soon-plan-body{
    border-top: 1px solid #f0f2f4;
}

.no-image-info{
    font-size: 12px;
    color: dimgray;
    height: 100%;
    margin: 5px;
    display: flex;
}

/* 배너 날짜 목록 스타일 banner plan list */
.soon-plan-one{
    display: flex;
    align-items: center;
    padding: 0px 14px;
    margin: 5px 0px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left-part{
    padding-top: 1px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    color: dimgray;


}

.oneDay{
    font-size: 14px;
    font-weight: 600;
}

.oneMonth{
    font-size: 10px;
    letter-spacing: -1px;
}

.right-part{
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-left: 10px;
    color: dimgray;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.oneTitle{
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.onePeriod{
    font-size: 10px;
}

/* 일정 없으면 */
.soon-plan-empty{
    font-size: 12px;
    color: dimgray;

    height: 46px;
    padding: 0px 14px;
    margin: 5px;


    display: flex;
    align-items: center;
}

/* end today-plan-area */

.btn-go-to-top{
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
}   

.btn-go-to-top:hover{
    background-color: #93D94E;
}

.go-to-top-icon{
    font-size: 1.5em;
    color: #555;
}

.btn-go-to-top:hover > .go-to-top-icon{
    color: white;
}

.post-count-view{
    margin-top: 13px;
}

.post-count{
    overflow: hidden;
    border-top: 1px solid #efefef;
    padding: 13px 22px;
    margin-top: -17px;
    display: flex;
    justify-content: space-between;
}

.face-comment{
    font-size: 13px;
    font-weight: 400;
    color: #555;
    position: relative;
}

.emotion-view{
    margin-right: 7px;
}

button{
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

.face-icon{
    font-size: 1.1em;
}

.count{
    margin-left: 3px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
}

.comment{
    font-size: 13px;
    font-weight: 400;
    color: #555;
    line-height: 23px;
    vertical-align: top;
}

.comment-toggle{
    margin-top: 3px;
    width: 17px;
    height: 17px;
    overflow: hidden;

}

.share-read{
    line-height: 23px;
    vertical-align: top;
}

.post-added{
    height: 45px;
    position: relative;
    border-top: 1px soid #888;
    border-radius: 0 0 4px 4px;
    white-space: nowrap;
}

.post-add-box{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
}

.post-text{
    font-weight: 500;
    font-size: 15px;
    color: #222;
    cursor: pointer;
}



/* 모달 창 관련 */
.modal-closeBtn{ 
    border: none;
    font-size: 18px;
    color: #777;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 20px;
}

iframe{
    border: none;
}

#reportBtn{
    cursor: pointer;
}


/* 상세조회 모달창 */
#postSelect-modal{
    position : fixed;
    top : 0;
    left : 0;

    width: 100%;
    height: 100%;

    display: none; 
    z-index: 3000;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
}

#postSelect-view{
    height: 90vh;
}

.show{
    display: flex !important;
}

.sModal-closeBtn{
    position: absolute;
    top: 27px;
    right: 33px;
    font-size: 22px;
    color: #f0f2f4;
}
