@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'nanumsquare';
}

a{
    text-decoration: none;
}


#container{
    width: 1140px;
    height: 800px;
    display: flex;
    flex: 1 1 auto;
    position: relative;

    margin: 0 auto;
    padding: 108px 0 0;
    align-items: flex-start;
    

}

/* side-bar */
#info{
    width: 232px;
    padding-bottom: 20px;
    margin-right: 18px;
    
}


#side-cover{
    display: inline-block;
    position: relative;
    vertical-align: top;
}


#cover-img{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
}

.band-name{
    position: relative;
    padding-top: 14px;
}


.band-name a{
    font-size: 22px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    overflow-wrap: break-word;
}

.member{
    margin-top: 10px;
}

.member-count{
    padding-top: 1px;
    text-decoration: none;
    display: inline-block;

    color: black;
    font-size: 13px;
    font-weight: 500;
}

.band-info{
    padding-top: 8px;
}

.band-description{
    overflow: hidden;
    max-height: 113px;
    line-height: 1.45;
    font-size: 13px;

}

.more-link{
    font-size: 13px;
    font-weight: 400;
    color: #999;
    display: inline-block;
    margin-top: 4px;
    text-decoration: none;
}

.more-link:hover{
    text-decoration: underline;
}

.btn-box{
    margin-top: 11px;
    margin-bottom: 4px;
}

.box-desc{
    font-size: 13px;
    font-weight: 400;
    color: #888;
    margin-top: 11px;
    line-height: 1.3;
}

.sidebar-under-icon{
    margin-top: 8px;
    padding-top: 9px;
    border-top: 1px solid rgba(0,0,0,.1);
}

.band-setting-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.sidebar-font{
    text-decoration: none;
    color: #555;
}


.band-setting-item{
    list-style: none;
    display: flex;
}

.leave-band{
    padding-left: 8px;
}

.sidbar-icon{
    color: #555;
    margin-right: 5px;
}

.write-button{
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: #93D94E;
    border: none;

    font-size: 14px;
    color: white;
    font-weight: 600;

    cursor: pointer;
}

/* board-list */
#board-list{
    width: 632px;
    margin-bottom: 11px;
    flex: 0 0 auto;
}

/* 글쓰기 영역 */
.post-write-form{
    position: relative;
    padding-bottom: 46px;
    
}

.board-search{
    position: relative;
    margin-bottom: 12px;
    z-index: 995;
    
}

.gSrOnly{
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}


#input-search{
    border: none;
    width: 100%;
    height: 100%;

    padding-left: 7px;

}

#input-search:focus{
    outline: none;
}

.input-search-form{
    height: 40px;
    width: 100%;
    padding: 0 45px 0 15px;
    background-color: white;

    position: relative;
    display: block;
}

.search-text{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;

    font-size: 14px;

}

.searchbtn {
    border-style: none;
    background-color: white;

    position: absolute;
    right: 22px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: .75;

}

.searchbtn:hover{
    cursor: pointer;
}

.main-content{
    position: relative;
}

.content-button{
    position: absolute;
    height: 84px;
    width: 100%;
    border: none;
    background-color: white;
    opacity: 0;


    
    cursor: pointer;
}

.content-editor{
    min-height: 84px;
    color: #999;
    background-color: white;

    padding: 18px 22px;
    line-height: 1.5;
}

.toolbar-area{
    position: absolute;
    left: 0;
    width: 100%;
    height: 43px;
    padding: 0 13px 0 15px;
    background-color: white;
    margin-bottom: 12px;
}

.toolbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 43px;
}

.toolbaritem{
    cursor: pointer;
}

.module-box{
    margin-top: 55px;
}

.post-wrap-title{
    display: none;
}

.content-card{
    margin-bottom: 11px;
    position: relative;
    background-color: white;
}

.post-author-view{
    position: relative;
    height: 65px;
    background-color: transparent;
    z-index: 11;
    cursor: pointer;
    padding-top: 20px;
    align-items: flex-start;
}

.uprofile{
    position: absolute;
    margin-left: 22px;
    margin-right: 10px;
    z-index: 12;
}

.uprofile-inner{
    width: 40px;
    height: 40px;

    display: block;
    overflow: hidden;
    position: relative;
    background-color: #ccc;
    border-radius: 50%;
}

.ellipsis, .post-list-info{
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    text-overflow: ellipsis;

}

.post-info{
    display: block;
    position: absolute;
    margin-left: 77px;
    min-width: 0;
    padding-top: 2px;
    line-height: 1.4;
    z-index: 12;
    overflow: hidden;
}

.post-info-name{
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

.post-info-date{
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
    color: #888;
    text-decoration: none;
    margin-top: 3px;
}

.post-main{
    position: relative;
    display: block;
}

.post-body{
    padding: 0 22px 17px;
}

.post-text{
    overflow-wrap: break-word;
    word-break: break-word;
    padding-top: 8px;
    cursor: pointer;
}

.text-body{
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 14px;
    line-height: 1.43;
    white-space: pre-line;
    padding-bottom: 8px;

}

.post-count{
    overflow: hidden;
    padding: 15px 22px 10px;
    margin-top: -17px;
    display: flex;
    justify-content: space-between;
}

.face-comment{
    font-size: 13px;
    font-weight: 400;
    color: #555;
    position: relative;
}

.emotion-view{
    margin-right: 7px;
}

button{
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

.face-icon{
    font-size: 1.1em;
}

.count{
    margin-left: 3px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
}

.comment{
    font-size: 13px;
    font-weight: 400;
    color: #555;
    line-height: 23px;
    vertical-align: top;
}

.comment-toggle{
    margin-top: 3px;
    width: 17px;
    height: 17px;
    overflow: hidden;

}

.share-read{
    line-height: 23px;
    vertical-align: top;
}

.post-added{
    height: 45px;
    position: relative;
    border-top: 1px soid #888;
    border-radius: 0 0 4px 4px;
    white-space: nowrap;
}

.post-add-box{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
}

.post-text{
    font-weight: 500;
    font-size: 15px;
    color: #222;
}

.post-text:hover{
    text-decoration: underline;
}



/* banner */
#banner{
    display: flex;

    margin-left: 18px;
}

.band-photo-area{
    width: 240px; 
}

.toolbar{
    list-style: none;
}

.board-icon{
    color:#888;
}

.board-icon:hover{
    color: #555;
}

.band-photo{
    position: relative;
    margin-bottom: 13px;

    background-color:  white;
}

#banner .tit{
    height: 34px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 40px;
    font-size: 13px;
    font-weight: 600;
    
}

#banner .photo-body{
    padding: 14px;
    border-top: 1px solid #f0f2f4;
}

#banner .photo-list{
    margin-top: -1px;
    margin-left: -1px;
    font-size: 0;
}

#banner .photo-list a{
    display: inline-block;
    position: relative;
}

.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    cursor: pointer;
    aspect-ratio: auto 73 / 73;


}

#banner .photo-list .no-img{
    display: inline-block;
    width: 68px;
    height: 68px;
    background-color: #eef0f3;
}

.banner-box {
    border: none;
    width: 68px;
    height: 68px;
    overflow: hidden;
    margin-top: 1px;
    margin-right: 1px;
}

#banner .more-button{
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#banner .more-button:hover{
    text-decoration: underline;
}

.btn-go-to-top{
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
}   

.btn-go-to-top:hover{
    background-color: #93D94E;
}

.go-to-top-icon{
    font-size: 1.5em;
    color: #555;
}

.btn-go-to-top:hover > .go-to-top-icon{
    color: white;
}




/* footer */
footer{
    height: 200px;
    background-color: #BFBFBF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10000;
}


footer p{
    font-weight: bold;
    margin: 16px 0;
}

footer > article > *{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer > article span{
    padding : 0 10px;
}
