<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="authority" column="AUTHORITY" />
		<result property="memberStatus" column="MEMBER_STATUS" />
		<result property="signUpDate" column="SIGNUP_DATE" />
		<result property="delDate" column="DEL_DATE" />
	</resultMap>
	
	<select id="selectMemberList" parameterType="string" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NAME, SIGNUP_DATE, MEMBER_STATUS
		FROM "MEMBER"
		WHERE MEMBER_EMAIL LIKE '%' || #{keyword} || '%'
		OR  MEMBER_NAME LIKE '%' || #{keyword} || '%'
		OR  MEMBER_NO = #{keyword}
	</select>


</mapper>
