<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<!-- namespace 속성 : 현재 공간(영역)에 대한 이름, 반드시 지정! -->
	<!-- mapper is sql -->
	
	<!-- 
		* resultMap 태그?
		- 자바 객체의 필드 명과 컬럼명이 다를 경우, 값을 어디에 세팅할지 작성
		- type : 연결할 VO 객채의 타입(패지키+클래스명 or 별칭) 별칭은 mybatis-config.xml 에서 지정
		- id : resultMap을 식별할 이름
	
	-->
	
	
	<!-- 해당 본드에 가입한 리스트 
	<select id="memberList" resultMap="member_rm">
		SELECT MJ.MEMBER_NO, (SELECT MEMBER_NAME FROM "MEMBER" M WHERE M.MEMBER_NO = MJ.MEMBER_NO)MEMBER_NAME, 
			LEADER_YN, GROUP_NO
		FROM "MEMBER_JOIN" MJ
		WHERE GROUP_NO = #{groupNo}
		AND JOIN_STATUS = 0
	</select>
	-->

</mapper>
