<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupMapper">


	<resultMap type="Group" id="group_rm">
		
		<!-- PK 컬럼은 id로 -->
		<id property="groupNo" column="GROUP_NO" />
		
		<!-- 나머지 컬럼은 result로 작성 -->
		<result property="topicCode" column="TOPIC_CODE" />
		<result property="groupName" column="GROUP_NAME" />
		<result property="groupDate" column="GROUP_DATE" />
		<result property="groupImage" column="GROUP_IMG" />
		<result property="groupComment" column="GROUP_COMMENT" />
		<result property="openYN" column="OPEN_YN" />
		<result property="groupStatus" column="GROUP_STATUS" />
		<result property="memberCount" column="MEMBER_COUNT" />
	</resultMap>
	
	<!-- 그룹이미지 -->
	<resultMap type="GroupImage" id="groupImage_rm">
      <id property="groupImageNo" column="GROUP_IMG_NO"/>
      <result property="groupNo" column="GROUP_NO"/>
      <result property="groupImageOrigin" column="GROUP_IMG_ORIGIN"/>
      <result property="groupImageRename" column="GROUP_IMG_RENAME"/>
      <result property="groupImagePath" column="GROUP_IMG_PATH"/>
   </resultMap>
	
	
	<!-- 본드 만들기 -->
	<insert id="createGroup" parameterType="Group" useGeneratedKeys="true">
		<selectKey keyProperty="groupNo" resultType="_int" order="BEFORE">
			SELECT SEQ_GROUP_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "GROUP" 
		VALUES(#{groupNo}, #{topicCode}, #{groupName}, DEFAULT, NULL, #{openYN}, DEFAULT)
	</insert>
	
	<!-- 만든 멤버 삽입 -->
	<insert id="insertJoinMember">
		INSERT INTO "MEMBER_JOIN" 
		VALUES(SEQ_MEMBER_JOIN_NO.NEXTVAL, #{groupNo}, #{memberNo}, 'Y', DEFAULT, 0, NULL)	
	</insert>
	
	<!-- 본드 프로필 사진 삽입 -->
	<insert id="updateGroupImage" parameterType="GroupImage">
		INSERT INTO GROUP_IMG VALUES
		(SEQ_GROUP_IMG_NO.NEXTVAL, #{groupNo}, #{groupImageOrigin}, 
		#{groupImageRename}, #{groupImagePath})
	</insert>
	
	<!-- 본드 기본정보 조회(본드사이드바) -->
	<select id="groupList" parameterType="Group" resultMap="group_rm">
		SELECT GROUP_NO, TOPIC_CODE, GROUP_NAME, GROUP_DATE, OPEN_YN, GROUP_STATUS
		FROM "GROUP"
	</select>
	
	<!-- 내 본드 조회 -->
	<select id="selectMyGroup" parameterType="Member" resultMap="group_rm">
		SELECT G.GROUP_NO, GROUP_NAME, 
			(SELECT COUNT(*) FROM MEMBER_JOIN M
			WHERE M.GROUP_NO = G.GROUP_NO) MEMBER_COUNT,
			(SELECT GROUP_IMG_PATH || GROUP_IMG_RENAME FROM GROUP_IMG GI
			WHERE GI.GROUP_NO = G.GROUP_NO) GROUP_IMG
		FROM "GROUP" G
		JOIN MEMBER_JOIN M ON(M.GROUP_NO = G.GROUP_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 본드 정보 조회 -->
	<select id="selectGroup" parameterType="_int" resultMap="group_rm">
		SELECT GROUP_NAME, GROUP_COMMENT, GROUP_NO,
			(SELECT COUNT(MEMBER_NO) FROM MEMBER_JOIN M
			WHERE M.GROUP_NO = G.GROUP_NO) MEMBER_COUNT,
			(SELECT GROUP_IMG_PATH || GROUP_IMG_RENAME FROM GROUP_IMG GI
			WHERE GI.GROUP_NO = G.GROUP_NO) GROUP_IMG
		FROM "GROUP" G
		WHERE GROUP_NO = #{groupNo}
	</select>
	
	<!-- 신고 여부 조회 -->
	<select id="checkReport" parameterType="_int" resultType="string">
		SELECT TO_CHAR(EXPIRE_DATE, 'YYYY-MM-DD HH24:MI:SS') EXPIRE_DATE
		FROM "REPORT"
		WHERE TYPE_CODE = 2 
		AND TARGET_NO = ${groupNo}
		AND RESULT_CODE IN (2, 3, 4)
		AND EXPIRE_YN = 'N'
		AND ROWNUM = 1
		ORDER BY EXPIRE_DATE DESC
	</select>
	

	
	
	
</mapper>
