<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

	<resultMap type="Member" id="member_rm">
		
		<!-- PK 컬럼은 id로 -->
		<id property="memberNo" column="MEMBER_NO" />
		
		<!-- 나머지 컬럼은 result로 작성 -->
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="profileImage" column="PROFILE_IMG" />
		<result property="authority" column="AUTHORITY" />
		<result property="memberStatus" column="MEMBER_STATUS" />
		<result property="signUpDate" column="SIGNUP_DATE" />
		<result property="delDate" column="DEL_DATE" />
	</resultMap>
	
	
	
	<!-- 암호화 된 비밀번호 조회 -->
	<select id="selectEncPw" resultType="string">
		SELECT MEMBER_PW FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 회원 탈퇴 -->
	<update id="secession">
		UPDATE MEMBER SET
		MEMBER_STATUS = '2'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 비밀번호 변경 -->
	<update id="myPageMapper">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{newPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 마이페이지 내정보 - 이미지 -->
	<select id="">
		SELECT (MEMBER_IMG_PATH || MEMBER_IMG_RENAME) PROFILE_IMG
		FROM "MEMBER"
		JOIN "MEMBER_IMG" USING(MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>

	
	
	
</mapper>