<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="planMapper">
	
	<!-- PLAN VO -->
	<resultMap type="Plan" id="plan_rm">
		<id property="planNo" column="PLAN_NO" />
		
		<result property="groupNo" column="GROUP_NO" />
		<result property="planTitle" column="PLAN_TITLE" />
		<result property="planContent" column="PLAN_CONTENT" />
		<result property="planStart" column="PLAN_START" />
		<result property="planEnd" column="PLAN_END" />
		<result property="planColor" column="PLAN_COLOR" />
		<result property="planAllday" column="PLAN_ALLDAY" />
	</resultMap>
	
	<!-- 일정 목록 조회 -->
	<select id="planSelectList" resultMap="plan_rm">
		SELECT *
		FROM "POST_PLAN"
	</select>
	
	<!-- 일정 상세 조회 -->
	<select id="planSelectDetail" parameterType="_int" resultMap="plan_rm">
		SELECT *
		FROM "POST_PLAN"
		WHERE PLAN_NO = #{planNo}
	</select>
	
	<!-- 일정 추가 -->
	<insert id="planInsert">
		INSERT INTO "POST_PLAN" 
		VALUES(SEQ_PLAN_NO.NEXTVAL, 
				#{groupNo}, 
				#{planTitle}, 
				#{planContent},
				#{planStart},
				#{planEnd},
				#{planColor},
				#{planAllday}
				)
	</insert>
	
	<!-- 일정 삭제 -->
	<delete id="planDelete">
		DELETE FROM "POST_PLAN"
		WHERE PLAN_NO = #{planNo}
	</delete>
	
</mapper>
