<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="postMapper">
	<!-- namespace 속성 : 현재 공간(영역)에 대한 이름, 반드시 지정! -->
	<!-- mapper is sql -->
	
	<!-- 
		* resultMap 태그?
		- 자바 객체의 필드 명과 컬럼명이 다를 경우, 값을 어디에 세팅할지 작성
		- type : 연결할 VO 객채의 타입(패지키+클래스명 or 별칭) 별칭은 mybatis-config.xml 에서 지정
		- id : resultMap을 식별할 이름
	
	-->
	
	<resultMap type="Post" id="post_rm">
		
		<!-- PK 컬럼은 id로 -->
		<id property="postNo" column="POST_NO" />
		
		<!-- 나머지 컬럼은 result로 작성 -->
		<result property="memberNo" column="MEMBER_NO" />
		<result property="groupNo" column="GROUP_NO" />
		<result property="postContent" column="POST_CONTENT" />
		<result property="postView" column="POST_VIEW" />
		<result property="replyYN" column="REPLY_YN" />
		<result property="postDate" column="POST_DATE" />
		<result property="editDate" column="EDIT_DATE" />
		<result property="informYN" column="INFORM_YN" />
		<result property="postDelYN" column="POST_DEL_YN" />
	</resultMap>
	
	<!-- 게시글 목록 불러오기 -->
	<select id='postList' parameterType="Post" resultMap="post_rm">
		SELECT POST_NO, MEMBER_NO, GROUP_NO, POST_CONTENT, POST_DATE, 
		DECODE(POST_DEL_YN, 'Y', '삭제됨', 'N', '게시중') AS POST_DEL_YN
		FROM "POST"
	</select>
</mapper>
