@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'nanumsquare', serif;
}

main{
    display: flex;
    justify-content: center;
    background-color: white;
}
.bandIntro{
    width: 632px;
    min-height: 310px;
    max-height: 1000px;
    border: 1px solid #ddd;
}

.introTitle{
    padding: 0 25px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #21c531;
    display: flex;
    align-items: center;
}

.introArea{
    padding: 40px 50px 20px ;
}

.namearea{
    width: 100%;
    display: flex;
    height: 30px;
    margin-bottom: 40px;
}
.nameTitle{
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    padding-top: 3px;
    
}
.nameWrite{
    width: 400px;
    font-size: 17px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid#ddd;
    margin-right: 10px;
}
.nameWrite:focus{
    outline: none;
    border-bottom: 1px solid #21c531;
}
.namearea>button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: white;
}
.namearea .fa-xmark{
    padding-top: 3px;
    font-size: 20px;
    cursor: pointer;
}

.introWrite{
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
}
.writeTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    height: 30px;
}
.introWrite>textarea{
    width: 500px;
    height: 200px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    margin-left: 10px;
}
.introWrite>textarea:focus{
    outline: none;
}

.imgarea{
    width: 100%;
    height: 180px;
    display: flex;
    margin-left: 30px;
}
.showImg{
    width: 208px;
    height: 157px;
    border-radius: 3px;
    background-color: #ddd;
    margin: 5px 20px 25px;
    display: inline-block;
}
.showImg>#group-img{
    width: 100%; height: 100%;
    font-size: 80px;
    color: white;
}
.imgUpdateArea{
    width: 200px;
    padding-top: 40px;
}
.imgTitle{
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 20px;
}
.inputImg{
    width: 165px;
    height: 45px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding-top: 11px;
    font-size: 17px;
    margin: 25px 45px;
}
.inputImg>input{
    display: none;
    cursor: pointer;
}
.inputImg > label{
    cursor: pointer;
}
.deleteImg{
    width: 165px;
    height: 45px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 20px 45px;
    cursor: pointer;
}
.deleteImg>button{
    cursor: pointer;
    font-size: 18px;
    background-color: #bfbfbf;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 17px;
}

.intro-btn{
    width: 200px;
    height: 50px;
    margin: 30px auto;
    border: 2px solid #bfbfbf;
    border-radius: 10px;
}
.intro-btn>button{
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.intro-btn:hover, .intro-btn>button:hover{
    background-color: #21c531;
    color: white;
    border: none;
}

