@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'nanumsquare', serif;
}
main{
    display: flex;
    justify-content: center;
}

/* 제일 바깥 div */
.memberMana-area{
    min-width: 632px;
    min-height: 310px;
    max-height: 90vh;
    background-color: white;
}

/* 멤버 리스트 탑 부분 */
.member-top{
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.member-Toptitle{
    display: flex;
    justify-content: space-between;
}
.member-top .member-total{
    font-size: 18px;
    font-weight: bold;
    padding-top: 7px;
}
.member-top .member-total>span{
    margin-left: 5px;
}
.member-top .member-total>span:last-child{
    color: #21c531;
    font-weight: bold;
    font-size: 20px;
}
.member-top .member-invite{
    width: 114px;
    height: 34px;
}
.inviteBtn:hover{
    background-color: #21c531;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.inviteBtn{
    width: 100%;
    height: 100%;
    border: 1.5px solid #21c531;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
}

/* 멤버 검색 - 오타... */
.member-serch{
    font-size: 17px;
    width: 100%;
    border: 1px solid #21c531;
    margin: auto;
    height: 40px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.member-serch>input{
    padding-left: 8px;
    width: 95%;
    font-size: 18px;
    margin-top: 10px;
    border: none;
}
.member-serch i{
    text-align: end;
    font-size: 20px;
    cursor: pointer;
}
.member-serch>button{
    border: none;
    background-color: white;
}
.member-serch>input:focus{
    outline: none;
}

/* 멤버 리스트 부분 */
.member-all{
    padding: 40px 50px 20px;
    background-color: white;
}
.member-all>.member-title{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}
.member-list{
    height: 88px;    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    background-color: white;
}
.member-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.memImg{
    width: 100%;
    height: 100%;
}
.member-name{
    padding-top: 16px;
    font-size: 17px;
    width: 80%;
    display: flex;
}
.userSlash{
    font-size: 20px;
    padding-top: 20px;
    cursor: pointer;
}
.fa-user-slash:hover{
    color: red;
}
.member-report>a>.fa-gear{
    font-size: 20px;
    padding-top: 20px;
    cursor: pointer;
}
.leader{
    border-radius: 30px;
    background-color: #21c531;
    color: white;
    font-size: 12px;
    width: 52px;
    height: 23px;
    text-align: center;
    padding-top: 5.5px;
    align-items: center;
    margin-left: 10px;
    margin-top: -1px;
}

/* 멤버 초대하기 - 하단부분 */
.member-invite-bottom{
    display: flex;
    height: 77px;
    padding: 20px;
    background-color: white;
    align-items: center;
    cursor: pointer;
    /* margin-bottom: 13px; */
}
.invite-icon{
    width: 45px;
    height: 45px;
    border: 2px double #ddd;
    border-radius: 50%;
    margin-right: 10px;
}

.invite-icon .fa-user-plus{
    font-size: 25px;
    padding-left: 8px;
    padding-top: 8px;
    color: #21c531;
}
.member-invite-btn button{
    font-size: 15px;
    background-color: white;
    border: none;
}
.fa-crown{
    margin-right: 3px;
}


/* 프로필 선택 시 모달창 */
.modal{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 11000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal .profile1{
    background-color: white;
    width: 320px; height: 412px;
    text-align: center;
    display: block;
    margin: 260px auto;
}
.modal .close-btn{
    padding: 15px 10px 0 0;
    border: none;
    font-size: 21px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    color: #777;
    position: absolute;
    margin-left: 125px;
}
.profile1 .profile-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile1 .profile-image{
    border: 3px solid greenyellow;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
}
.modal .image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.modal .profile-area>.memberName{
    margin: 10px 0 15px;
    font-size: 24px;
}
.modal #inputImage{
    display: none;
    cursor: pointer;
}
.modal .member{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
}
.modal .leader-yn{
    font-size: 12px;
    padding-top: 4px;
    border-radius: 45%;
    width: 36px;
    height: 20px;
    margin-right: 8px;
    background-color: #21c531;
    color: white;
}
.modal .join-date{
    font-size: 13px;
}
.modal .birth{
    display: flex;
    margin-bottom: 25px;
    font-size: 16px;
}
.modal .birth-title{
    margin-right: 5px;
}
.modal .report{
    font-size: 13px;
    cursor: pointer;
    border: none;
    background-color: white;
    /* margin-top: 7px; */
}
.modal .report:hover{
    color: red;
}

.show{
    display: flex;
}