/* font & box-sizing */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}

/* 복합기능 */
.closed{
    display: none;
}

/* 모달창 일정 추가(insertModal.jsp) */

/* insertModal 배경 */
#insertModal{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    
    width: 100vw;
    height: 300vh;

    top: 0;
    z-index: 10000;
}

/* insertModal의 window */
#insertWindow{
    background-color: white;
    width: 300px;
    height: 300px;

    position: fixed; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

}

/* insertModal - window 스타일 */

/* 모달창 닫기 버튼 */
#closeInsertModal{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* insert-header */
.insert-header{
    background-color: #E2E2E230;
    border-bottom: 1px solid #E2E2E2;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* insert-body */
/* 날짜 열 */
.dateBoxRow{
    display: flex;
}

/* 팔레트 */
#colorBox{
    display: flex;
    padding: 10px 0px;
}

#colorBox input{
    display: none;
}

input[name="planColor"]:hover + .palette{
    border: 1px solid black;
}

input[name="planColor"]:checked + .palette{
    border: 2px solid black;
}

.palette{
    border-radius: 50%;
    width: 15px;
    height: 15px;

    margin-left: 5px;
}


/* 모달창 일정 상세 조회(viewModal.jsp) */
#detailModal{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    
    width: 100vw;
    height: 300vh;

    top: 0;
    z-index: 10000;
}

#detailWindow{
    background-color: white;
    width: 500px;
    min-height: 200px;
    height: auto;
    
    position: fixed; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

}

#detailBody{
    position: relative;

}


/* 모달창 드롭다운 메뉴 */
#openDetailModalMenu{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* 사용 변수 todayBox, titleBox, periodBox, colorBox, memberNameBox, contentBox */

/*              [header]
                [headerLeft] [headerRight]
                todayBox     titleBox                            menu
                             perioBox
                             colorBox &#183; memberNameBox
                border

                contentBox

*/

/* 헤더 박스 */
#headerBox{
    display: flex;
    width: 100%;
    height: 110px;

    /* padding-bottom: 20px; */
    padding: 20px;
    border-bottom: 1px solid #E2E2E2;
}

/* 헤더 박스 왼쪽 */
#headerLeftBox{
    width: 70px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 일 박스 */
#dateBox{
    height: 1em;
    font-size : 30px;
    display: flex;
    line-height: 25px;

}

/* 요일 박스 */
#dayBox{
    font-size: 13px;
}

/* 헤더 박스 오른쪽 */
#headerRightBox{
    width: 630px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* 타이틀 박스 */
#titleBox{
    font-size: 20px;
    line-height: 21px;
}

/* 기간 박스 */
#periodBox{
    font-size : 13px;
    color: dimgray;
}

/* 라벨 박스 */
#labelBox{
    font-size: 13px;
    color: dimgray;

    display: flex;
    align-items: center;
}

#contentBox{
    padding: 20px;
}
/* 모달창 일정 수정 */





/* 일정 삭제 모달창(deleteModal.jsp) */
#deleteWindow{
    background-color: white;
    width: 300px;
    height: 300px;

    position: fixed; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    z-index: 25000;
}

.deleteWindowBtnArea button{
    width: 90px;
    height: 35px;
    border: 1px solid #BFBFBF;
    font-weight: 800;
    margin: 0px 5px;
}

#planDeleteBtn{
    background-color: #515161;
    color: white;
}

#planDeleteBtn:hover{
    background-color: #212131;
    transition-duration: 0.1s;
}

#cancelDeleteBtn{
    background-color: white;
    color: grey;
}

#cancelDeleteBtn:hover{
    background-color: #E2E2E2;
    color: black;
    transition-duration: 0.1s;
}