/* 전체 */
.detail-info{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}

/* 행 */
.detail-info-row{
    border-top: 1px solid #BFBFBF;
    width: 100%;
    height: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    background-color: #E2E2E250;
}

.detail-info-row:last-child{
    border-bottom: 1px solid #BFBFBF;
}

/* 라벨 */
.detail-info-row > label{
    font-weight: 800;
    
    padding-left: 10px;
    
    width: 150px;
    
    display: flex;
    align-items: center;
}

/* 라벨이 아닌 열 */
.detail-info-col{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    background-color: white;
    height: 100%;
    min-height: 50px;
}

#memberImage{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* join count */
.report-count, .join-count{
    min-width: 50px;
    margin-right: 5px;
    display: flex;
}

/* 모달 버튼 */
.modalBtn{
    border: none;
    border-radius: 10px;
    background-color: #E2E2E250;
    height: 35px;
    width: 45px;

    cursor: pointer;
}

.modalBtn:hover{
    opacity: 0.7;
}

.modalBtn:active{
    opacity: 0.5;
}

/* for 모달창 */
body{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

#modalDim{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    
    z-index: 10000;
    position: absolute;
    top: 0;
}

#modalBox{
    background-color: rgb(0,0,0,0.8);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    position: relative;
    
    z-index: 15000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal{
    background-color: white;
    
    width: 500px;

    z-index: 20000;
    padding: 20px;

    display: flex;
    flex-direction: column;

    position: fixed; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#closeModal{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
}

.report-modal-row{
    font-size: 12px;

    width: 100%;
    height: 30px;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
}


/* modal 내 표 */
.report-modal-row > span{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.report-modal-row:first-of-type{
    background-color: #CCC;
}


.report-no{ flex-basis : 20% }
.report-request{ flex-basis : 20%}
.report-reason{ flex-basis : 50%}
.report-result{ flex-basis : 20%}

/* end modal */