/* .content */
.content{
    background-color: white;

    width: 920px;
    
    margin-left: 20px;
    border-radius: 10px;

    display:flex;
    flex-direction: column;
}
/* end .content */


/* .content-header */
.content-header{
    width: 100%;
    height: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 30px;
    margin-bottom: 20px;;
    border-bottom: 1px solid #BFBFBF;
}

.content-body{
    padding: 0px 20px;
}

/* .content-body */

/* 목록 버튼 */
#list-btn{
    margin-left: 30px;
    width: 50px;
    float:left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list-btn:hover{
    background-color: #bfbfbf31;
}
#list-btn:active{
    background-color: #bfbfbf41;
    color: black;
}

#list-btn > img{
    width: 15px;
    height: 100%;
}

/* notice-detail */
.notice-detail{
    width: 750px;
    margin-bottom: 10px;
    float: right;
    height: 100%;
}

/* 공개여부 */
#noticeStatus{
    font-size: 15px;
    color:white;
    background-color: dodgerblue;
    border-radius: 7px;
    
    display:inline-block;
    text-align: center;
    width: 50px;
    height: 21px;
}

/* 수정 / 삭제 버튼 */
.notice-detail > form{
    display:inline-block;
}
.notice-detail > form > button{
    font-size: 15px;
    color:white;
    border: none;
    border-radius: 7px;
    
    display:inline-block;
    text-align: center;
    width: 50px;
    height: 21px;
}

/* 수정 버튼 */
#noticeEdit > button { 
    background-color: #BFBFBF;
    cursor: pointer;
}
/* 삭제 버튼 */
#noticeDel > button { 
    background-color: lightcoral;
    cursor: pointer;
}
.notice-content-head button:hover{
    opacity: 0.9;
    transition-duration: 0.1s;
}
.notice-content-head button:active{
    opacity: 0.8;
    transition-duration: 0.1s;
}

/* 본문 */
.notice-detail > p{
    font-size: 17px;
    margin-top: 10px;
}

/* end .content-body */

/* content-footer */
.content-footer{
	display:flex;
	justify-content: center;
}