/* notice-detail */
.notice-detail{
    width: 100%;
    margin-bottom: 10px;
    height: 100%;
    padding: 0 10px;
}

/* 공개여부 */
#noticeStatus{
    font-size: 15px;
    color:white;
    background-color: dodgerblue;
    border-radius: 7px;
    
    display:inline-block;
    text-align: center;
    width: 50px;
    height: 21px;
}

/* 수정 / 삭제 버튼 */
.notice-detail > form{
    display:inline-block;
}
.notice-detail > form > button{
    font-size: 15px;
    color:white;
    border: none;
    border-radius: 7px;
    
    display:inline-block;
    text-align: center;
    width: 50px;
    height: 21px;
}

/* 수정 버튼 */
#noticeEdit > button { 
    background-color: #BFBFBF;
    cursor: pointer;
}
/* 삭제 버튼 */
#noticeDel > button { 
    background-color: lightcoral;
    cursor: pointer;
}
.notice-content-head button:hover{
    opacity: 0.9;
    transition-duration: 0.1s;
}
.notice-content-head button:active{
    opacity: 0.8;
    transition-duration: 0.1s;
}

/* 본문 */
.notice-detail > p{
    font-size: 17px;
    margin-top: 10px;
}

/* end .content-body */

/* content-footer */
.content-footer{
	display:flex;
	justify-content: center;
}