/* list */
.list-header{
    display: flex;
    margin-top: 10px;
}

.postNo{ flex-basis: 15%; }
.memberNo{ flex-basis: 15%; }
.groupNo{ flex-basis: 15%;}
.postContent{ flex-basis: 25%;}
.postDate{ flex-basis: 20%;}
.postDelYN{ flex-basis: 10%;}

.list-btn{
    margin-top: 10px;
    
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    border: none;

    background-color: #E2E2E230;

    cursor: pointer;
}

.list-btn:hover{
    background-color: #E2E2E250;
}

/* end .content-body */



/* content-footer */
.content-footer{
	display:flex;
	justify-content: center;
}
/* footer */
footer{
    height: 200px;
    background-color: #BFBFBF;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

footer > p{
    font-weight: bold;
    margin: 16px 0;
}

footer > article > *{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer span{
    padding : 0 10px;
}
/* end footer */