/* list */
.list-header{
    display: flex;
    margin-top: 10px;
}

.reportNo{ flex-basis: 10%; }
.reportType{ flex-basis: 10%; }
.memberName{ flex-basis: 25%; }
.targetName{ flex-basis: 25%; }
.reportDate{ flex-basis: 10%; }
.processYN{ flex-basis: 10%; }
.processDate{ flex-basis: 10%; }

.list-btn{
    margin-top: 10px;
    
    width: 100%;

    display: flex;
    justify-content: flex-start;
    text-align: start;
    border: none;
}

/* end .content-body */



/* content-footer */
.content-footer{
	display:flex;
	justify-content: center;
}
/* footer */
footer{
    height: 200px;
    background-color: #BFBFBF;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

footer > p{
    font-weight: bold;
    margin: 16px 0;
}

footer > article > *{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer span{
    padding : 0 10px;
}
/* end footer */