/* list */
.list-header{
    display: flex;
    margin-top: 10px;
}

.reportNo{ flex-basis: 8%; }
.typeDetails{ flex-basis: 7%; }
.memberName{ flex-basis: 15%; }
.targetName{ flex-basis: 20%; }
.reportDate{ flex-basis: 20%; }
.processYN{ flex-basis: 10%; }
.processDate{ flex-basis: 20%; }

/* 게시글 내용 .... 처리 */
.postContent{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 버튼 */

/* end .content-body */

/* content-footer */

/* footer */
footer{
    height: 200px;
    background-color: #BFBFBF;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

footer > p{
    font-weight: bold;
    margin: 16px 0;
}

footer > article > *{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer span{
    padding : 0 10px;
}
/* end footer */