/* 숫자 데이터형 박스 */
.dataBox{
    background-color: #f1f1f130;
    border-radius: 10px;
    
    min-height : 150px;
    
    margin-bottom: 20px;
    padding: 20px;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-radius: 10px;
}

/* 제목 */
.title{
    font-weight: 800;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
}

/* class = number 숫자 데이터가 들어가는 영역 */
.numberBox{
    background-color: white;
    border-radius: 10px;
    
    width: 200px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.numbers{
    width: 60%;
    text-align: end;
    margin-right: 10px;
}

/* unit은 맨 아래에 */


/* 차트형 박스 */
.chartBox{
    background-color: #f1f1f130;
    border-radius: 10px;
    
    min-height : 300px;
    max-height: 450px;
    margin-bottom: 20px;
    padding: 20px;
    

    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-between;
}

.chart{
    background-color: white;
    border-radius: 10px;

    height: 300px;
    width: 60%
}

.indicatorsBox{
    border-radius: 10px;

    height: 300px;
    width: 38%; 

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.indicators{
    background-color: white;
    border-radius: 10px;

    height: 48%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.subtitle{
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 10px;

    height: 100px;
    width: 20%;
}

.indicators > span:first-child{
    width: 40%;
    text-align: center;
}


.unit{
    color: dimgray;
    width: 40%;
}
