*{
    box-sizing: border-box;
}

/* header */
header{
    background-color: white;

    width: 1140px;
    height: 70px;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-logo{
    width: 80px;
}

.box {
    width: 40px;
    height: 40px;

    border-radius: 70%;

    justify-content: right;

    overflow: hidden;
}

#profile-photo{
    width: 100%;
    height: 100%;

    object-fit: cover;  
    cursor: pointer;
}
/* and header */

.tempPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E2E2E2;
    padding: 30px;
}

.tempPage-header{
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.tempPage-body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
    padding: 20px;
}

.tempPage-body > a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

/* footer */
footer{
    height: 200px;
    background-color: #BFBFBF;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

footer > p{
    font-weight: bold;
    margin: 16px 0;
}

footer > article > *{
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer span{
    padding : 0 10px;
}
/* end footer */