/* font & box-sizing */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}

/* 모달 영역 */
#modal{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    
    width: 100vw;
    height: 300vh;

    top: 0;
    z-index: 10000;
}

/* 모달창 */
#window{
    background-color: white;
    width: 300px;
    height: 300px;

    position: fixed; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

}

/* 모달창 내 스타일 */

/* 모달창 닫기 버튼 */
#closeModalButton{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* window-header */
.window-header{
    background-color: #E2E2E230;
    border-bottom: 1px solid #E2E2E2;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* window-body */

/* 날짜 열 */
.dateBoxRow{
    display: flex;
}

#colorBox{
    display: flex;
    padding: 10px 0px;
}

#colorBox input{
    display: none;
}

input[name="planColor"]:hover + .palette{
    border: 1px solid black;
}

input[name="planColor"]:checked + .palette{
    border: 2px solid black;
}

.palette{
    border-radius: 50%;
    width: 25px;
    height: 25px;

    margin-left: 5px;
}